@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700;900&family=Roboto:wght@300;500;900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: rgba(115, 179, 167, 0.648);
    color: #000;
    text-decoration: none;
}

a {
    color: #000;
    text-decoration: none;
}

/*Container do painel principal onde esta todos os elementos, exceto as abas de camisetas, protetores, calças e inicio*/
#container-painel {
    text-align: center;
    display: inline-block;
    justify-content: center;
     width: 500px;
     height: 500px;
     position: relative;
     top: -300px;
     left: 750px;
     border: 1px solid #fff;
     box-shadow: 10px 0px 5px 2px #111 ;
     border-radius: 50px;
 }
 
 #container-painel h1 {
     margin-top: 5px;
     padding: 10px;
     padding-top: 50px;
 
 }
/*Fim painel principal*/


/* Aba do painel de controle para acessar o estoque de camisetas */
#camisetas {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 60px;
    height: 190px;
    position: relative; 
    justify-content: center;
    align-items: center;
    display: flex;
    align-items: center; 
    flex-direction: column;
    left: 690px;
    top: 185px;
    border: 1px solid #fff;
    border-radius: 10px;
    
}

#camisetas:hover {
    box-shadow: 10px 0px 5px 2px #111 ;
    z-index: 9999;  
  }
/*Fim aba camisetas*/


/* Aba do painel de controle para acessar o estoque de calças */
  #calcas {
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      width: 60px;
      height: 130px;
      position: relative; 
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      left: 690px;
      top: 184px;
      border: 1px solid #fff;
      border-radius: 10px;
  }

  #calcas:hover {
    box-shadow: 10px 0px 5px 2px #111 ;
    z-index: 9999;  
  }
/*Fim aba das calças*/


/* Aba do painel de controle para acessar o estoque de protetores */
  #protetor {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 160px;
    position: relative; 
    display: flex;
    flex-direction: column;
    left: 690px;
    top: 185px;
    border: 1px solid #fff;
    border-radius: 10px;
}

#protetor:hover {
  box-shadow: 10px 0px 5px 2px #111 ;
  z-index: 9999;  
}
/*Fim aba dos protetores*/

/*Botão para ir ao inicio  */

#inicio {
    color: #fff;
    font-weight: bold;
    text-align: center;
    width: 90px;
    height: 25px;
    position: relative; 
    justify-content: center;
    display: flex;
    flex-direction: column;
    left: 790px;
    top:173px;
    border: 1px solid #fff;
    border-radius: 20px;

}

#inicio img {
    position: relative;
    top: 1.5px;
    width: 20px;
    
  }

#inicio a {
    position: relative;
    bottom: 1.195px;
  }
  
  #inicio:hover {
    box-shadow: 10px 0px 5px 2px #111 ;
    z-index: 9999;  
  }

/* Fim do inicio */


/* Tabela do estoque de protetores */

table {
    position: relative;
    bottom: 700px;
    left: 1300px;
    border: 1px solid #fff;
}

table th row, table td {
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    border: 1px solid #fff;
    text-align: center;
}
